@model JwtCoreWeb.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () { $('#divPart').load('Auth/_PartialDate'); }, 1000);
        });
    </script>

</head>
<body>
    @using (Html.BeginForm("login", "auth"))
    {
        @Html.AntiForgeryToken()
        <div id="divPart">
            <partial name="_PartialDate.cshtml" />
        </div>
        <div class="container  mt-5" style="width:40%">
            <table class="table rounded table-dark">
                <thead>
                    <tr>
                        <td colspan="2" align="center">
                            <h3>Login here</h3>
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Username)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @placeholder = "Enter Username", @autocomplete = "off" })
                        <br />@Html.ValidationMessageFor(e => e.Username, "", htmlAttributes: new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.Password, htmlAttributes: new { @placeholder = "Enter Password" })
                        <br />@Html.ValidationMessageFor(e => e.Password, "", htmlAttributes: new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right" style="margin-right:5px">
                        <button class="btn btn-success mr-3"> Login</button>
                    </td>
                </tr>
            </table>
        </div>
    }


</body>
</html>
